<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h3>Enter any word/phrase you would like to see be translated into Pig Latin!</h3>

    <form method="POST" action="/piglatinizer">

      <p>Enter your phrase: <input type="text" name="user_phrase"></p><br>
      <br>

      <input type="submit" value="submit">
    </form> 
  </body>
</html>