<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <form method="POST" action="/piglatinized">
      Type a word: <input type="text" name="word">
      <input type="submit" value="Submit">
    </form>


  </body>
</html>